body {
	color: #fff;
	background-color: #303030;
	font-family: "Lato", sans-serif;
	font-size: 20px;
}
#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.rectangle {
	width: 960px;
	margin: 20px;
	text-align: center;
}
.square {
	width: 50%;
	float: left;
}
#logo {
	width: 600px;
	font-size: 20px;
	text-align: left;
	float: left;
	font-family: "Josefin Sans", sans-serif;
}
#zegar {
    padding-top: 20px;
    font-size: 40px;
    text-align: left;
    float: left;
	font-family: "Josefin Sans", sans-serif;
}
.tile1 {
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #3095d3;
	float: left;
	text-align: center;
}
.tile2 {
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #666666;
	float: left;
	text-align: center;
}
.tile3 {
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #93c748;
	float: left;
	text-align: center;
}
.tile4 {
	height: 82px;
	width: 420px;
	margin: 10px;
	padding: 30px;
	line-height: 150%;
	font-size: 26px;
	background-color: #ee5a32;
	text-align: center;
}
.tile5 {
	height: 304px;
	margin: 10px;
	width: 480px;
	background-color: #666666;
	text-align: center;
}

.yt {
	height: 142px;
	width: 105px;
	margin: 10px;
	background-color: #d94348;
	float: left;
}
.fb {
	height: 142px;
	width: 105px;
	margin: 10px;
	background-color: #4668b3;
	float: left;
}
.g {
	height: 142px;
	width: 105px;
	margin: 10px;
	background-color: #d95333;
	float: left;
}
.tw {
	height: 142px;
	width: 105px;
	margin: 10px;
	background-color: #3095d3;
	float: left;
}
