body {
	color: #fff;
	background-color: #303030;
	font-family: "Lato", sans-serif;
    font-size: 20px;
}
#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.rectangle {
	width: 960px;
	margin: 20px;
}
.square {
	width: 50%;
	float: left;
}
#logo{
    width: 600px;
    font-size: 20px;
    float: left;
    font-family: "Josefin Sans", sans-serif;
}
#zegar{
    font-size: 40px;
    float: left;
    font-family: "Josefin Sans", sans-serif;
}
.tile1{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #3095d3;
    float: left;
}
.tile2{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #666666;
    float: left;
}
.tile3{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #93c748;
    float: left;
}